<div class="main-container">
    <ng-container *ngFor="let jdr of jdrTable; let index = index">
        <article class="jdr-container">
            <figure>
                <img alt="Illustration du jdr" class="jdr-img" src="../../assets/img/logo_principale_edelweiss.png">
            </figure>   

            <div class="jdr-info">
                <header class="jdr-title">
                    <h3>{{jdr.name}}</h3>
                </header>
                <p class="jdr-description">
                    {{jdr.description}}
                </p>
                <!--<div class="jdr-buttons">
                    <button>PLANNING</button>
                     <button>CANDIDATURE</button> 
                </div>-->
            </div>
        </article>
    </ng-container>
</div>
