<div class="main-container">
    <ng-container *ngFor="let jdr of jdrTable; let index = index">
        <div class="jdr-container">
            <img class="jdr-img" src="../../assets/img/logo_principale_edelweiss.png">

            <div class="jdr-info">
                <div class="jdr-title">
                    {{jdr.name}}
                </div>
                <div class="jdr-description">
                    {{jdr.description}}
                </div>
                <div class="jdr-buttons">
                    <button>PLANNING</button>
                    <!-- <button>CANDIDATURE</button> -->
                </div>
            </div>
        </div>
    </ng-container>
</div>
