.admin-menu{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-link-menu{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    border: 2px solid black
}

.link-menu{
    width: 100%;
    min-height: 40px;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.link-border{
    border-right : 2px solid black;
}

.users-pag, .jdr-pag{
    width: 90%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    overflow: auto;
}

table{
    position: relative;
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

thead, tbody{
    width: 100%;
}

thead{
    border-bottom: 2px solid black;
}

tbody>tr:nth-child(odd){
    background-color: var(--cyan);
}

td{
    width: 25%;
    padding: 15px;
    text-align: center;
}

.name{
    font-size:24px;
    font-weight: 700;
    cursor: pointer;
    color: var(--dark-cyan);
    height: 20px;
}

.flowers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create-button{
    padding: 10px;
    font-size: 28px;
    color: rgb(82, 82, 82);
    background-color: var(--yellow);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-self: flex-start;
    margin-left: 5%
}

.no-access{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: red
}