<div class="admin-menu" *ngIf="connectedUser && connectedUser.status === 'admin'">
    <div class="side-link-menu">
        <div class="link-menu link-border" (click)="changeMenu(1)">
            Utilisateurs
        </div>

        <div class="link-menu" (click)="changeMenu(2)">
            JDR
        </div>
    </div>

    <div class="users-pag" *ngIf="chosenMenu === 1">
        <table>
            <thead>
                <tr>
                    <td>
                        Pseudo
                    </td>
                    <td>
                        Email
                    </td>
                    <td>
                        Fleurs
                    </td>
                    <td>
                        Status
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of Users; let index = index">
                    <td>
                        <div class="name" (click)="goToUser(index)">
                            {{user.pseudo}}
                        </div>
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        {{user.flowers}}
                    </td>
                    <td>
                        {{user.status}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="jdr-pag" *ngIf="chosenMenu === 2">
        <table>
            <thead>
                <tr>
                    <td>
                        Nom
                    </td>
                    <td>
                        Description
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jdr of JDRs; let index = index">
                    <td>
                        <div class="name" (click)="goToJdr(index)">
                            {{jdr.name}}
                        </div>
                    </td>
                    <td>
                        {{jdr.description}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="create-button" (click)="goToCreateJdr()" *ngIf="chosenMenu === 2">Créer un nouveau JDR</button>
</div>
<div class="no-access" *ngIf="!connectedUser || connectedUser.status !== 'admin'">
    VOUS N'AVEZ PAS ACCEZ À CETTE PAGE
</div>