<form class="login-form">
    <div class="form-container">
        <label class="title">
            Création d'un compte
        </label>

        <div class="form-sub-container">
            <div class="form-div-input">
                <label for="pseudo">
                    Pseudo
                </label>
        
                <input id="pseudo">
            </div>
        </div>

        <div class="form-sub-container">
            <div class="form-div-input">
                <label for="email">
                    Email
                </label>
        
                <input id="email">
            </div>
    
            <div class="form-div-input">
                <label for="confirm-email">
                    Confirmer Email
                </label>
        
                <input id="confirm-email">
            </div>
        </div>

        <div class="form-sub-container">
            <div class="form-div-input">
                <label for="password">
                    Mot de passe
                </label>
        
                <input id="password" type="password">
            </div>
    
            <div class="form-div-input">
                <label for="confirm-password">
                    Confirmer Mot de passe
                </label>
        
                <input id="confirm-password" type="password">
            </div>
        </div>
        
        <div class="form-div-button">
            <button class="form-button login">SIGN IN</button>
        </div>
    </div>
</form>