<form class="login-form" (ngSubmit)="signIn(formSearch)" #formSearch="ngForm">
    <div class="form-container">
        <label class="title">
            Création d'un compte
        </label>

        <div class="form-sub-container">
            <div class="form-div-input">
                <label for="pseudo">
                    Pseudo
                </label>
        
                <input ngModel required name="pseudo" id="pseudo">
            </div>
        </div>

        <div class="form-sub-container">
            <div class="form-div-input">
                <label for="email">
                    Email
                </label>
        
                <input ngModel required name="email" id="email" type="email">
                <div class="error" *ngIf="emailExist">Cette adresse mail est déjà utilisé</div>
            </div>
    
            <div class="form-div-input">
                <label for="confirm-email">
                    Confirmer Email
                </label>
        
                <input ngModel required name="confirmEmail" id="confirmEmail" type="email">
            </div>
        </div>

        <div class="form-sub-container">
            <div class="form-div-input">
                <label for="password">
                    Mot de passe
                </label>
                <input [(ngModel)]="password" required name="password" id="password" type="password">

                <div class="details">
                    Attention, le mot de passe doit répondre à ses caractéristique :
                    <ul>
                        <li *ngIf="!password">
                            au moins 8 caractères
                        </li>
                        <li class="confirmed" *ngIf="passwordLengthRegExp.test(password)">
                            au moins 8 caractères
                        </li>
                        <li class="error" *ngIf="password && !passwordLengthRegExp.test(password)">
                            au moins 8 caractères
                        </li>

                        <li *ngIf="!password">
                            au moins un chiffre
                        </li>
                        <li class="confirmed" *ngIf="password && passwordNumberRegExp.test(password)">
                            au moins un chiffre
                        </li>
                        <li class="error" *ngIf="password && !passwordNumberRegExp.test(password)">
                            au moins un chiffre
                        </li>

                        <li *ngIf="!password">
                            au moins un caractère spécial
                        </li>
                        <li class="confirmed" *ngIf="password && passwordSpecialRegExp.test(password)">
                            au moins un caractère spécial
                        </li>
                        <li class="error" *ngIf="password && !passwordSpecialRegExp.test(password)">
                            au moins un caractère spécial
                        </li>

                        <li *ngIf="!password">
                            au moins une majuscule et une minuscule
                        </li>
                        <li class="confirmed" *ngIf="password && (passwordLowerRegExp.test(password) && passwordUpperRegExp.test(password))">
                            au moins une majuscule et une minuscule
                        </li>
                        <li class="error" *ngIf="password && (!passwordLowerRegExp.test(password) || !passwordUpperRegExp.test(password))">
                            au moins une majuscule et une minuscule
                        </li>
                    </ul>
                </div>
            </div>
    
            <div class="form-div-input">
                <label for="confirm-password">
                    Confirmer Mot de passe
                </label>
        
                <input ngModel required name="confirmPassword" id="confirmPassword" type="password">
            </div>
        </div>
        
        <div class="form-div-button">
            <button type="submit" class="form-button login">SIGN IN</button>
        </div>
    </div>
</form>