<article class="main-container">
    <figure>
        <img class="main-img" src="../../assets/img/logo_principale_edelweiss.png">
    </figure>

    <p class="description-groupe">
        Les Chroniques d'Edelweiss est un groupe de jeu de role commander par notre dieu : Yaya Kagecosa.<br/>

        Nous faison principalement du JDR Médiaval - Fantaisie avec le JDR principal <strong>Primevère</strong> ou le 
        JDR d'initiation <strong>Donjon Explorer</strong>. 
        Nous possèdons aussi un JDR <strong>Pokemon</strong> inspiré par la séries <strong>Pokemon Donjon Mystère</strong>.<br/>
    </p>
</article>