.side-menu-body{
    
}



.nav-button{
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--yellow);
    font-family: quicksand;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

.last-button{
    margin-bottom: 20px;
}