<form class="login-form">
    <div class="form-container">
        <div class="form-div-input">
            <label>
                Email
            </label>
    
            <input placeholder="yourEmail@gmail.com">
        </div>

        <div class="form-div-input">
            <label>
                Mot de passe
            </label>
    
            <input type="password">
        </div>

        
        <div class="form-div-button">
            <button class="form-button login">LOGIN</button>
            <button class="form-button close" (click)="quitLoginElement()">CLOSE</button>
        </div>
    </div>
</form>